.video__player{
  height: 238px!important;
}
.single__product{
  width: 100%;
}
.single__product h1 {
  text-align: center;
}
.single__product h2 {
  white-space: break-spaces;
  width: 100%;
  text-align: center;
}
.flex__justify{
  display: flex;
  justify-content: center;
  text-align: justify;
}
.single__product p.description {
  padding-bottom: 0;
}
.single__product h4{
  text-align: left;
}
.singlep__category::before{
  content: "Product Category: ";
  padding-right: 10px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.singlep__category{
  text-transform: capitalize;
  color: grey;
  text-align: center; 
  font-size: 25px;
  margin-bottom: 20px;
}
.singlep__ul{
    color: rgb(92,92,92);
    display: block;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    list-style:none;
    margin-left: 40px;
    margin-right: 0px;
    margin-top: 0px;
  }
.singlep__ul li p{ white-space: pre-wrap; padding: 0; margin: 7.5px auto; }
.singlep__ul li>*:first-child::before{
    display: inline-block;
    margin-left: -40px;
    min-width: 40px;
    text-align: right;
    box-sizing: border-box;
}
.formatted__name{
  font-weight: 400;
}
.product__image{
  min-width: 150px;
}
.singlep__media{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /*text-align: center;*/
}
.singlep__media .singlep__image__container{
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*text-align: center;*/
}
.singlep__skintypes {
  padding: 0px;
  text-align: left;
}
.singlep__skintypes .skintype {
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
}
.singlep__skintypes .skintype::after {
  content: ", ";
}
.singlep__skintypes .skintype:last-child::after {
  content: "";
}
@media screen and (max-width: 600px){
 .singlep__media { 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center;
    max-width: 100vw;
  }
  .video__player{ height: 175px !important; }

  .singlep__media .singlep__image__container{
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 364px){
  .video__player{
    height: unset !important;
  }
}
