.ba__row{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: 10px solid var(--mainWhite);
  border-radius: 15px;
  padding: 5px;

}
.ba__top__row{
  width: 45%;
  border-radius: 15px;
}
.ba__col{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  white-space: pre-wrap;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.ba__notes{
  line-height: 22px;
  margin: 0 auto;
  font-family: 'proxima-nova';
  text-align: justify;
  width: 90%;
}
.product__heading{
  margin: 0 auto;
  padding-top: 14px;
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333;
}
.product_list{
  color: rgb(92,92,92);
  display: block;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  list-style:none;
  margin-left: 40px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
}
ul[data-bullet-list] li p{ white-space: pre-wrap; padding: 0; margin: 3px auto; }
ul[data-bullet-list] li>*:first-child::before{
  display: inline-block;
  margin-left: -40px;
  min-width: 40px;
  text-align: right;
  box-sizing: border-box;
}
.product_list{ margin: 0 auto; white-space: pre-line; padding-left: 7%;}

.ba__col > h4{margin-bottom: 0;line-height: 20px;}

@media screen and (max-width: 767px){
  .ba__row{
    flex-direction: column;
    max-height: unset;
    border: 5px solid var(--mainMcc);
    border-radius: 15px;
  }
  .ba__top__row{
    width: 100%;
    margin: 0 auto;
  }
  .ba__col{
    width: 100%;
    margin: 0 auto;
  }
  .ba__col > *{
    margin: 0 auto;
  }
  .ba__col > h4{
    margin-bottom: 0;
  }
  .ba__col__right{
    border: 5px solid var(--mainWhite);
    border-radius: 15px;
  }
  .product_list{ margin: 0 auto; white-space: pre-line; padding-left: 10%;padding-right: 5px;}

}
