.ba__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: yellow;
  border: 1px solid red;
}

.ba__col__left,
.ba__col__right{
  display: flex;
  flex-direction: column;
  width: 50%;
}
