.status {
  background: var(--mccPink);
  color: var(--mainWhite);
  padding: 0.25rem;
  letter-spacing: var(--mainSpacing);
}

.status__text {
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
}
.professional__status {
  font-size: 17px;
}

.professional__status {
  margin: 0 2px;
  color: var(--mainWhite);
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid white;
  margin-left: 5px;
  text-transform: capitalize;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid white;
}

