.status {
  background: var(--mainWhite);
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}
.status__text {
  margin: 0 auto;
  text-align: right;
}
.professional__status {
  margin: 0 2px;
  color: var(--mccPink);
  font-size: 16px;
}
.professional__link {
  text-decoration: none;
  color: var(--mainBlack);
  font-weight: 400;
}
.professional__logout__link {
  color: var(--mainGrey);
  text-decoration: none; 
}
.professional__status__link {
  cursor: default;
}
.professionals__login__btn{
  font-family: 'proxima-nova', 'sans-serif';
  line-height: 27px;
  background: var(--mccAltPink);
  border: 2px solid var(--mainWhite);
  color: var(--mainWhite);
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  letter-spacing: var(--mainSpacing);
  outline: none;
  padding: 0.4rem 1.4rem;
  text-decoration: none;
  transition: var(--btnTransition);
}
.professionals__login__btn:hover {
  background: var(--mainWhite);
  color: var(--mccAltPink);
  border: 2px solid var(--mccAltPink);
}
