@import url("https://use.typekit.net/wua6cxq.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'proxima-nova', 'sans-serif';
  /*-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;*/
}
body {
  font-family: 'proxima-nova', 'sans-serif';
   overflow: scroll;
   background-color:rgba(255, 102, 104, 1);
}
nav  li  a {
    font-family: 'proxima-nova', 'sans-serif';
    font-size: 15px;
    line-height:32px;
    color: #111;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
div#content {
  position:;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:white;
  z-index: 0;
  width: 100vw;
}

/*phone*/
@media screen and (min-width: 100px) and (max-width: 480px){
  div#content{width:100vw;margin:0 auto;}
}
/*tablet - sm*/
@media screen and (min-width:481px) and (max-width: 767px){
  div#content{width:100vw;margin:0 auto;}
}

/*tablet - landscape*/
@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
  div#content{width:80vw;margin:0 auto;}
}

/*tablet - md*/
@media screen and (min-width:768px) and (max-width:1024px){
  div#content{width:80vw;margin:0 auto;}
}

/*tablet - lg*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  div#content{width:80vw; margin:0 auto;}
}

/*desktop*/
@media screen and (min-width: 1281px){
  div#content{width:70vw;margin:0 auto;}
}
