@import url("https://use.typekit.net/wua6cxq.css");

:root {
  --primaryColor: #ff665e;
  --mccPink: #ff665e;
  --mccBlue: #6495ed;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --lightGrey:#dcd9d9;
  --mainGrey: #d3d3d3;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 1px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
*, ::before, ::after{ margin: 0; padding: 0; }
* + * { margin: 0; padding: 0; }

html {
  font-family: 'proxima-nova', 'sans-serif';
  display: block;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
    background-attachment: fixed;
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;
    background: var(--mccPink);
    background-color: var(--mccPink);
    color: #5c5c5c;
    font-family: 'proxima-nova', 'sans-serif';
    line-height: 27px; 
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    overflow: scroll;
    text-transform: none;
    text-decoration: none;
}

main{
  min-height: 100vh;
}
#page{
  background: var(--mainWhite);
  width: 95%;
  border: 0;
  font-size: 15px;
}
h1 {
    font-family: Varela Round,arial,sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: proxima-nova;
    font-weight: 300;
    font-style: normal;
    line-height: 1.2em;
    font-size: 3em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 1px;
}
h1 {
    display: block;
    font-size: 2em;
    margin: 1em 0 .3em;
    font-size: 45px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .3em;
    font-weight: 300;
}
div#content {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:white;
  z-index: 0;
}
nav  li  a {
    font-family: 'proxima-nova', 'sans-serif';
    font-size: 15px;
    line-height:32px;
    color: #111;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
p {
  padding: 5px 0;
}
article.page-article{
}
article.page-article:first-child{
  margin-top: 0px;
}
article.page-article:last-child{
  margin-bottom: 0px;
}
.bold {font-weight: 600;}

.btn-white,
.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

/*https://css-tricks.com/aspect-ratio-boxes/*/
.aspect-ratio-box {
  background: var(--mainWhite);
}
.aspect-ratio-box::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 591.44px / 1127.34px * 100%;
}
.aspect-ratio-box::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}

/*phone */
@media screen and (max-width: 480px){
  div#content{width:100vw;margin:0 auto;} /* 0vw of pink border*/
}

/*tablet - sm*/
@media screen and (min-width:481px) and (max-width: 767px){
  div#content{width:100vw;margin:0 auto;} 
}

/*tablet - landscape */
@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
  div#content{width:99vw;margin:0 auto;} /* 20vw of pink border*/
}

/*tablet - md & large */
@media screen and (min-width:768px) and (max-width:1280px){
  div#content{width:99vw;margin:0 auto;} /* 20vw of pink border*/
}

/*desktop */
@media screen and (min-width: 1281px){
  div#content{width:1280px;margin:0 auto;} /* 30vw of pink border*/
}
