*{ box-sizing: border-box; }
.search__form{
  outline-color: var(--mainWhite);
}
.search__form__input{
  box-sizing: border-box;
  background-image: url(../images/searchicon.png);
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 2px solid #ccc;
  border-radius: 4px;
  display:block;
  font-family: 'proxima-nova';
  font-size: 16px;
  margin: 20px auto;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  width: 130px;
}

.search__form__input:active,
.search__form__input:focus{
  width: 85%;
}
.search__table{
  border: 1px solid var(--mainWhite);
  border-collapse: collapse;
  border-radius: 4px;
  font-family: 'proxima-nova';
  margin: 0 auto;
  width: 85%;
}
.search__thead{
  border: 1px solid var(--mainWhite);
}
.search__th{
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-family: proxima-nova;
  font-style: normal;
  border-bottom: 2px solid var(--mainWhite);
}
.search__th:nth-child(2){
  text-align: right
}
.search__td:nth-child(2){
  text-align: right
}
.search__td{
  font-size: 16px;
  padding-inline-start: 10px;
  padding: 5px;
  border: 1px solid var(--mainWhite);
}
.search__td > a{text-decoration: none;}
.search__flex{
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 767px){
  .search__table,
  .search__form__input:active,
  .search__form__input:focus{
     width: 85%;
  }
}

@media screen and (max-width: 500px){
  .search__table,
  .search__form__input:active,
  .search__form__input:focus{
    width: 100%;
    margin: 0 auto;
  }
}
