.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--mccPink);
}

.header__title {
  font-size: 45px;
  font-weight: 300px;
  color: #222222;
  font-family: proxima-nova, sans-serif;
  text-align: center;
  padding: 0.75rem;
}

.header__nav { margin-top: 0; }
.header__nav > ul{
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  justify-content: center;
  font-size: 15px;
}

.header__link{
  list-style: none;
}

.header__link a {
  margin-left: 2.75rem;
  margin-top: 0;
  padding: 0.35rem;
  text-decoration: none;
  white-space: pre-line;
  width: max-content;
  letter-spacing: .5px;
  font-weight: 400;
  line-height: 32px;
  border: 1px solid var(--mainWhite);
}


.header__link a:hover,
.header__link a:active,
.header__link a:focus {
  background: var(--mccPink);
  color: var(--mainWhite);
  border: 1px solid var(--mainWhite);
}


@media screen and (max-width: 768px){
  .header__nav > ul{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: 0 auto;

  }
}


