@keyframes fadeInOutOpacity {
	0% { opacity: 0; }
  10% {opacity: 1; }
	50% { opacity: 1;}
	80% { opacity: 1; }
	100% { opacity: 0; }
}
.fade__in__out{
  opacity: 1;
  border-radius: 750px;
	animation-name: fadeInOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 10500ms;
}
