@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOutOpacity {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

.fade__in{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1000ms;
}

.fade__in__out{
  opacity: 1;
	animation-name: fadeInOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 10500ms;
}
