[data-slideshow] {
  transition: var(--mainTransition) !important;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  max-width: 900px;
  max-height: 600px;
}

[data-slideshow] img {
  height: 100%;
  left: 0;
  object-fit: contain;
  object-position: center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

[data-slideshow] img.next {
  opacity: 1;
  z-index: 1;
  transition: visibility 0s 1s, opacity 1s linear;
  visibility: visible;
}

/* phone*/
@media screen and (max-width: 480px){
  [data-slideshow] { 
    height: 100vw;
  }
}
@media screen and (min-width:481px) and (max-width: 767px){
  [data-slideshow] { 
    height: 80vw;
  }
}
@media screen and (min-width: 768px){
  [data-slideshow] { 
    box-sizing: border-box;
    transition: initial;
    height: 600px;
  }
}
